.dropcode__green {
  color: #2e7d32;
}
.dropcode__mb {
  margin-bottom: 1em;
}
#slider-subscribe-form .input-group {
  border-left: 4px solid #2e7d32 !important;
}
.dropcode__logo {
  margin: 1em auto;
  display: flex;
  align-items: center;
}

.button-border.dropcode__btn {
  color: #000000;
  border-color: #2e7d32;
}
.side-header #header.dark {
  background: rgba(255, 255, 255, 1);
}

.dropcode__btn {
  background-color: #2e7d32;
}
.button-3d.dropcode__btn:hover,
.button-reveal.dropcode__btn:hover,
.button-border.dropcode__btn:hover,
.button-border.dropcode__btn.button-fill:before {
  background-color: #2e7d32 !important;
}
.dropcode__links {
  color: #2f2f2f;
  transition: all 400ms ease-in;
}
.dropcode__links:hover {
  color: #2e7d32;
  transition: all 400ms ease-out;
}
.dark {
  color: #0a0a0a !important;
}
.input-group-append {
  margin-right: 15px;
}
